body * {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  width: 100%;;
  position: fixed;
  z-index: 1;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 40px;
  padding-left: 15px;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-nav {
  right: 0px;
  width: 70%;
  justify-content: space-around;
}

.nav-buffer {
  height: 60px;
}

.main-container {
  height: auto;
  min-height: 80vh;
  width: 80%;
  margin: auto;
  background-color: white;
  /* border: 3px dotted red; */
}

.banner-text {
  position: relative;
  text-align: center;
  font-size: medium;
  color: rgb(80, 80, 80);
  margin: 40px;
}

.container-bio {
  position: relative;
  margin: auto;
  color: black;
  width: 90%;
  font-size: auto;
  /* border: 3px solid green; */
}

#bio-text {
  text-align: left;
  font-size: small;
  /* border: 1px solid black; */
}

#bio-image {
  margin: auto;
  text-align: right;
  /* border: 1px solid orange; */
}

footer {
  background-color: rgba(248, 249, 250, 1);
  position: fixed;
  bottom: 0;
}

footer p {
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}