body * {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  width: 100%;;
  position: fixed;
  z-index: 1;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 40px;
  padding-left: 15px;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-nav {
  right: 0px;
  width: 70%;
  justify-content: space-around;
}

.nav-buffer {
  height: 60px;
}

.main-container {
  height: auto;
  width: 80%;
  margin: auto;
  background-color: white;
}

.banner-text {
  position: relative;
  text-align: center;
  font-size: medium;
  color: rgb(80, 80, 80);
  margin: 40px;
}


.substack-embed {
  height: 400px;
  text-align: center;
}

h2 {
  margin: auto;
  line-height: 400px;
}


footer {
  background-color: rgba(248, 249, 250, 1);
  position: fixed;
  bottom: 0;
}

footer p {
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}