body * {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  width: 100%;;
  position: fixed;
  z-index: 1;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 40px;
  padding-left: 15px;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-nav {
  right: 0px;
  width: 70%;
  justify-content: space-around;
}

.nav-buffer {
  height: 60px;
}

.main-container {
  height: auto;
  width: 80%;
  margin: auto;
  background-color: white;
  /* border: 3px dotted red; */
}

.banner-text {
  position: relative;
  text-align: center;
  font-size: medium;
  color: rgb(80, 80, 80);
  margin: 40px;
}

.overlay-content {
  text-align: center;
  position: relative;
}

.overlay-text {
  position: absolute;
  color: white;
  bottom: 2%;
  right: 3%;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    );
  padding: 3px;
  font-size: medium;
}

#text {
  font-size: small;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.parallax {
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Give the value "fixed" to the background-attachment property to create the parallax scrolling effect */
  background-attachment: fixed;
  margin: 10px;
}

.west-texas-img {
  background-image: url("/img/west_texas.jpg");
}

.dallas-img {
  background-image: url("/img/dallas.jpg");
}

.xian-img {
  background-image: url("/img/xian-bell-tower.jpg");
}

.hk-img {
  background-image: url("/img/hong-kong-1.jpg");
}

.shanghai-img {
  background-image: url("/img/shanghai.jpg");
}

.nanjing-img {
  background-image: url("/img/nanjing-2.jpg");
}

.dc-img {
  background-image: url("/img/washington_dc.jpg");
}

.austin-img {
  background-image: url("/img/austin.jpg");
}

footer {
  background-color: rgba(248, 249, 250, 1);
  position: fixed;
  bottom: 0;
}

footer p {
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}