body * {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  width: 100%;;
  position: fixed;
  z-index: 1;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 40px;
  padding-left: 15px;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-nav {
  right: 0px;
  width: 70%;
  justify-content: space-around;
}

.nav-buffer {
  height: 50px;
  z-index: 10;
  background-color: white;
  border: 1px solid orange;
}

.main-container {
  height: auto;
  width: 90%;
  margin: auto;
  background-color: white;
}

.overlay-content {
  text-align: center;
  position: relative;
  justify-content: center;
}

.overlay-text {
  position: absolute;
  color: black;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: auto;
  /* border: 3px solid green; */
  .text {
    text-align: left;
    margin: auto;
    /* border: 1px solid blue; */
  }
  .image {
    margin: auto;
    text-align: right;
    /* border: 1px solid orange; */
  }
}

.parallax {
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Give the value "fixed" to the background-attachment property to create the parallax scrolling effect */
  background-attachment: fixed;
  margin: 10px;
}

.lone-oak-img {
  background-image: url("./img/lone-oak-tree.jpg");
  filter: brightness(0.90) saturate(0%);
  opacity: 0.1;
}

footer {
  background-color: rgba(248, 249, 250, 1);
  position: fixed;
  bottom: 0;
}

footer p {
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}